### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Maven ###
target
dependency-reduced-pom.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
**/gatling-app/results/**

### Mac OS
**/.DS_Store
